@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

:root {
	--primary: #fffafa;
	--dark: #fff5ee;
	--body: #fffafa;
	box-shadow: 0 8px 22px rgba(0,0,0,0,1);
}

body {
	font-family: Sora, "sans-serif";
	line-height: 1.7;
	color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
	color: var(--dark);
}

a {
	color: var(--dark);
	text-decoration: none;
}

.btn {
	padding: 20px 40px;
	border-width: 3px;
	border-radius: 0px;
	background-color: black;
	border-color: black;
	margin: 9px;
	margin-left: 20px;
}

body {
	background-image: url(https://i.pinimg.com/originals/61/18/e8/6118e86d36693f1b1830217bffb4f948.png);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
}

section {
	padding-top: 250px;
	padding-bottom: 200px;
}

.split {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.appearance {
	width: 100px;
	height: 100px;

	padding-top: 50px;
	padding-bottom: 300px;
}

.error {
	display: flex;
	justify-content: center;
}



